.DS_Store
// http://api.openweathermap.org/data/2.5/forecast?id=524901&appid={API key} 
api.openweathermap.org/data/2.5/weather?q={city name}&appid={API key}
// your API key is 44b15a8581ffb6c0cc21a142f2c8c380

